<div rim-session class="rim-session">
  <svg class="rim-map" width="100%" rim-map>
    <defs>
      <pattern id="grid" width="1" height="1" shape-rendering="crispEdges"
               patternUnits="userSpaceOnUse">
        <g x1="0" y1="0" x2="0" y2="0"
           stroke="black" ng-stroke-width="{{ 1.01 / zoom }}">
          <line y2="1" />
          <line x2="1" />
        </g>
      </pattern>

      <pattern id="circle" width="1" height="1"
               patternContentUnits="objectBoundingBox">
        <circle cx="0.5" cy="0.5" r="0.4" />
      </pattern>

      <pattern ng-repeat="polygon in ['triangle', 'square', 'pentagon',
                                      'hexagon', 'septagon', 'octagon',
                                      'nonagon', 'decagon' ]"
               id="{{ polygon }}" width="1" height="1"
               patternContentUnits="objectBoundingBox">
        <polygon rim-polygon data-sides="{{ $index + 3 }}" ng-stroke-width="{{ 1.01 / zoom }}" />
      </pattern>
    </defs>

    <g fill="black" stroke="white" stroke-width="4"
       shape-rendering="crispEdges">
      <rect width="6" height="10%"
            transform="translate(-6 0)"
            x="100%" ng-y="{{ (top + 1) / (maxTop + 1) * 90 }}%" />

      <rect width="10%" height="6"
            transform="translate(0 -6)"
            ng-x="{{ (left + 1) / (maxLeft + 1) * 90 }}%" y="100%" />
    </g>

    <g id="map" ng-transform="scale({{ zoom }})
       translate({{ -left | pixelate:zoom }} {{ -top | pixelate:zoom }})">
      <rect fill="url(#grid)" x="0" y="0"
            ng-width="{{ width + 1 / zoom }}" ng-height="{{ height + 1 / zoom }}" />

      <g ng-repeat="layer in map.layers" class="layer"
         fill="black" stroke="gray" ng-stroke-width="{{ 1 / zoom }}"
         ng-transform="translate({{ 0.5 / zoom }} {{ 0.5 / zoom }})">
        <rect ng-repeat="(pos, item) in layer.data"
              ng-x="{{ item.x }}" ng-y="{{ item.y }}"
              width="1" height="1" />

        <!--<rect ng-repeat="token in ['triangle', 'square', 'pentagon',
                                   'hexagon', 'septagon', 'octagon',
                                   'nonagon', 'decagon', 'circle' ]"
              ng-x="{{ $index / 3 + 0.7 | number:0 }}" ng-y="{{ $index % 3 + 1 }}"
              ng-fill="url(#{{ token }})" stroke="none"
              width="1" height="1" />-->
      </g>
    </g>
  </svg>

  <div class="rim-session-log" rim-session-log>
    <div class="rim-messages">
      <div
        class="rim-message rim-message-{{ message.type.split(':').pop() }}"
        ng-repeat="message in messages | orderBy:'createdAt':true">
        <div class="rim-message-body">{{ message.body }}</div>
        <div class="rim-message-timestamp">{{ message.createdAt | date:'shortTime' | lowercase }}</div>
      </div>
    </div>

    <form novalidate>
      <button type="button"
        class="rim-toggle rim-toggle-{{ message.ooc ? 'ooc' : 'ic' }}"
        ng-click="message.ooc = !message.ooc">
        {{ message.ooc ? 'OOC' : 'IC' }}
      </button>
      <input ng-model="message.body" autofocus />
      <button class="primary" ng-click="send(message)">Say</button>
    </form>
  </div>
</div>
