<div ng-controller="SessionController">
  <div class="rim-session">
    <div class="rim-map">
    </div>

    <div class="rim-session-log">
      <div class="rim-messages">
        <div
          class="rim-message rim-message-{{ message.type.split(':').pop() }}"
          ng-repeat="message in messages">
          <span class="rim-message-body">{{ message.body }}</span>
          <span class="rim-message-timestamp">{{ message.createdAt | date:'shortTime' | lowercase }}</span>
        </div>
      </div>

      <form novalidate>
        <div
          class="rim-toggle rim-toggle-{{ message.ooc ? 'ooc' : 'ic' }}"
          ng-click="message.ooc = !message.ooc">
          {{ message.ooc ? 'OOC' : 'IC' }}
        </div>
        <input ng-model="message.body" autofocus>
        <button ng-click="send(message)">Say</button>
      </form>
    </div>
  </div>
</div>
