<div rim-session class="rim-session">
  <svg class="rim-map" rim-map>
    <defs>
      <pattern id="grid" width="32" height="32" patternUnits="userSpaceOnUse">
        <g stroke="black" x1="0" y1="0" x2="0" y2="0" stroke-width="{{ 1 / zoom }}">
          <line y2="32" />
          <line x2="32" />
        </g>
      </pattern>
    </defs>

    <g stroke="black" stroke-width="2">
      <line y1="-3" x1="2" y2="-3" x2="48"
            transform="translate({{ (left - minLeft) / (maxLeft - minLeft) * (innerWidth - 50) }} {{ innerHeight }})" />
      <line x1="-3" y1="2" x2="-3" y2="48"
            transform="translate({{ innerWidth }} {{ (top - minTop) / (maxTop - minTop) * (innerHeight - 50) }})" />
    </g>

    <g id="map" transform="scale({{ zoom }}) translate({{ left | number:0 }} {{ top | number:0 }})">
      <rect fill="url(#grid)" x="0" y="0"
            width="{{ width }}" height="{{ height }}" />

      <g ng-repeat="layer in layers" class="layer"
         fill="black" stroke="gray" stroke-width="{{ 1 / zoom }}"
         transform="translate(0.5 0.5)">
        <rect ng-repeat="(pos, item) in layer.data"
              x="{{ item.x * square }}" y="{{ item.y * square }}"
              width="{{ square }}" height="{{ square }}" />
      </g>
    </g>
  </svg>

  <div class="rim-session-log" rim-session-log>
    <div class="rim-messages">
      <div
        class="rim-message rim-message-{{ message.type.split(':').pop() }}"
        ng-repeat="message in messages | orderBy:'createdAt':true">
        <div class="rim-message-body">{{ message.body }}</div>
        <div class="rim-message-timestamp">{{ message.createdAt | date:'shortTime' | lowercase }}</div>
      </div>
    </div>

    <form novalidate>
      <button type="button"
        class="rim-toggle rim-toggle-{{ message.ooc ? 'ooc' : 'ic' }}"
        ng-click="message.ooc = !message.ooc">
        {{ message.ooc ? 'OOC' : 'IC' }}
      </button>
      <input ng-model="message.body" autofocus>
      <button class="primary" ng-click="send(message)">Say</button>
    </form>
  </div>
</div>
