<form method="post" action="/session">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
  <button style="opacity: 0">Create Session</button>
</form>

<script>document.querySelector('button').click()</script>
