.rim-session {
  .rim-session-log {
    position: absolute;
    top: 50px;
    right: 50px;

    height: calc(~'100vh - 100px');
    width: 300px;

    // placeholder border
    border: 1px solid #000;

    display: flex;
    flex-direction: column;

    form {
      display: flex;
      min-height: 2.5em;

      > input,
      > button,
      > div {
        flex-grow: 1;
        margin: 2px 0 2px 2px;
        margin-top: 3px;
      }

      > :last-child {
        margin-right: 2px;
      }

      > button {
        width: 3ch;
      }

      .rim-toggle {
        text-align: center;
        vertical-align: middle;

        &.rim-toggle-ooc {
          background: @red;
        }

        &.rim-toggle-ic {
          background: @yellow;
        }
      }
    }

    .rim-messages {
      padding: 3px;
      flex-grow: 1;
      overflow: auto;

      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;

      .rim-message {
        display: flex;
        flex-shrink: 0;

        > div:not(:last-child) {
          margin-right: 2px;
        }

        .rim-message-body {
          flex-grow: 1;
          word-wrap: break-word;
        }

        .rim-message-timestamp {
          font-size: x-small;
          white-space: pre;
          flex-shrink: 0;
        }

        &.rim-message-ooc .rim-message-body {
          &::before {
            content: '(( ';
          }

          &::after {
            content: ' ))';
          }
        }
      }
    }
  }
}
